<h1>{{"Hola Mundo" }}</h1>
<button label="Submit" icon="pi pi-bolt" iconPos="right" pButton pRipple class="p-button-danger"></button>

<p-card header="Título de prueba" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </p>
</p-card>